name: ci
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install MKDocs Material
        run: pip install mkdocs-material
      - name: MKDocs Deployment
        run: |
           cd docs
           mkdocs gh-deploy --force
